
:root {
  --quiz-red: #FC3868;
}
.btn{
    min-width: 131px;
	height: 40px;
	border-radius: 20px;
    background: var(--quiz-red);
	color: white;
	box-shadow: 0 2px 20px rgba(0,0,0,.2); 
	transition: box-shadow .5s;
    overflow: hidden;
}
.btn:hover{
	box-shadow: 0 2px 20px rgba(0,0,0,.6) ;
    background-color: var(--quiz-red);
}
.btn:focus{
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
    background-color: var(--quiz-red);
}
.btn:active{
    background-color: var(--quiz-red);
	box-shadow: 0 2px 20px rgba(0,0,0,.1);
}

.btn:hover{
	box-shadow: 0 2px 20px rgba(0,0,0,.6);
    background-color: var(--quiz-red);
}

.label{
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
}